.lmi-body-bg{
	width: 100%;
	height: 100%;
	 background-image: url('../Imagens/bg4.jpg');
		background-repeat: no-repeat;
		background-color: #000000;
	background-position: center center;
	background-attachment: fixed;
	 background-size: cover; /*Css padrão*/
	-webkit-background-size: cover; /*Css safari e chrome*/
	-moz-background-size: cover; /*Css firefox*/
	-ms-background-size: cover; /*Css IE não use mer#^@%#*/
	-o-background-size: cover; /*Css Opera*/
	margin: 0in;
}



/*------- BOX BASE ---------------------------------------------------------------------------------*/

.box-full-linha{	width: 100%;	height: 3px;	display: block;	}

/*------------------------------------------------------------------------------------------------*/

.box-full{	width: 100%;	height: auto;	display: block;	}
.box-center{ width: 1200px; height: auto; display: block;	margin-left: auto;	margin-right: auto; }


/*------------ OUTROS ---------------------------------------------------------------------*/

/*------- BOX BASE ---------------------------------------------------------------------------------*/

.box-full-linha{	width: 100%;	height: 3px;	display: block;	}

/*------------------------------------------------------------------------------------------------*/

.box-full{	width: 100%;	height: auto;	display: block;	}
.box-center{ width: 1200px; height: auto; display: block;	margin-left: auto;	margin-right: auto; }


/*------------ OUTROS ---------------------------------------------------------------------*/

.box-center-menu{	width: 1024px;	height: 70px;	 display: block; margin-left: auto;	margin-right: auto;}
.box-participar{		display: none; }

	/*--- MENU BOTOES HORIZONTAL HEADER -------*/
	.mbox{width: 185px;	height: 60px;	display: block; box-sizing: border-box; float: left; padding: 5px; margin-left: 15px;  }
	.mbox{	color: #33691e;		text-align: center;		font-size: 16px; font-family: 'Love Ya Like A Sister', cursive;}
	.mbox:hover{ color: #e65100; border-bottom: 2px solid #e65100;}
	a { text-decoration: none;}

	/*----- BOX-HEADER  LEFT, CENTER RIGHT -------------------------------------------------------*/

	.box-header-left{   width: 30%; height: 620px; display: block; float: left; margin-left: 15px; background-color: red;}
	.box-header-center{ width:34%; height: 620px; display: block; float: left; margin-left: 15px; background-color: red;}
	.box-header-right{  width: 30%; height: 620px; display: block; float: left; margin-left: 15px; background-color: red;}

/*--- LOGO E SETA -----*/

.box-logo{width: 200px;height: 210px; display: block; margin-top: 200px; border-radius: 50px; margin-left: auto;	margin-right: auto;	}
.box-logo img{ width: 200px;	height: 210px; }

	/*------------------------------------------------------------*/


/*------------ CONFIGURAÇÕES ---------------------------------------------------------------------*/


.altura01{ height: 100px; }
.altura02{ height: 200px; }
.altura03{ height: 300px; }
.altura07{ height: 700px; }

.bc1{background-color: #e65100;}
.bc2{background-color: #ef6c00;}
.bc3{background-color: #a5d6a7;}
.bc4{background-color: #78909c;}
.bc5{background-color: #fff;}


/*-----------------------------------------------------------------------------------------------*/


.box-menu{ display: none;}


/*------------------------------------------------------------*/
.height-header{ height: 550px; background-color: red;}
.prop-herizontal{width: 100%;	height: 30px;	margin-top: 40px; display: block; background-color: pink;}


.box-seta{display: none;}

/*---- BODY ------*/
.box-body{width: 100%; height: 300px; padding: 10px;   box-sizing: border-box; display: block; margin-top: 10px; 	border-radius: 0px; margin-left: auto;	margin-right: auto;	}
.container-a{width: 100%; height: 300px; display: block; background-color:#a5d6a7;}
/*---- FIM DO BODY ------*/




/*========= MEDIA QUERY INICIO ===========================================*/


/*--- Mobile portrait ---*/
@media only screen and (min-width : 320px) and (max-width : 480px) {

		/*------- BOX BASE ---------------------------------------------------------------------------------*/

		.box-full-linha{	width: 100%;	height: 3px;	display: block;	}

		/*------------------------------------------------------------------------------------------------*/

		.box-full{	width: 100%;	height: auto;	display: block;	}
		.box-center{ width: 100%; height: auto; display: block;	margin-left: auto;	margin-right: auto; }


		/*------------ OUTROS ---------------------------------------------------------------------*/


		.box-center-menu {		display: none; }

/*---- COLOR -----*/
     .bc5{background-color: #fff;}

			.box-menu{ width: 50px;	height: 50px; margin-top: 5px;	display: block;	float: right; margin-right: 5px; border-radius: 5px; }
		  .box-menu img{ width: 40px;	height: 40px;}
			.box-menu:hover img{ width: 50px;	height: 50px;}

		/*--- BOTAO PARTICIPAR -----*/

		  .box-participar{width: 150px;	height: 60px; display: block;  margin-left: auto;	margin-right: auto; }
		  .box-participar{	color: #33691e;		text-align: center;		font-size: 16px; font-family: 'Love Ya Like A Sister', cursive;}
			.box-participar:hover{ color: #e65100; border-bottom: 2px solid #e65100;}
			a { text-decoration: none;}

		/*------------------------------------------------------------*/

		/*----- BOX-HEADER  LEFT, CENTER RIGHT -------------------------------------------------------*/
		.box-header-left{   width: 22%; height: 620px; display: block; float: left; margin-left: 5px; }
		.box-header-center{ width: 50%; height: 620px; display: block; float: left; margin-left: 5px; }
		.box-header-right{  width: 22%; height: 620px; display: block; float: left; margin-left: 5px; }

	/*--- LOGO E SETA -----*/

	.box-logo{width: 110px;height: 120px; display: block; margin-top: 100px; border-radius: 50px; margin-left: auto;	margin-right: auto;	}
	.box-logo img{ width: 110px;	height: 120px; }

		/*------------------------------------------------------------*/


}


/*--- Mobile landscape ---*/
@media only screen and (min-width : 480px) and (max-width : 595px) {

	/*------- BOX BASE ---------------------------------------------------------------------------------*/

	.box-full-linha{	width: 100%;	height: 3px;	display: block;	}

	/*------------------------------------------------------------------------------------------------*/

	.box-full{	width: 100%;	height: auto;	display: block;	}
	.box-center{ width: 100%; height: auto; display: block;	margin-left: auto;	margin-right: auto; }


	/*------------ OUTROS ---------------------------------------------------------------------*/


	.box-center-menu {		display: none; }

/*---- COLOR -----*/
	 .bc5{background-color: #fff;}

		.box-menu{ width: 50px;	height: 50px; margin-top: 5px;	display: block;	float: right; margin-right: 5px; border-radius: 5px; }
		.box-menu img{ width: 40px;	height: 40px;}
		.box-menu:hover img{ width: 50px;	height: 50px;}

	/*--- BOTAO PARTICIPAR -----*/

		.box-participar{width: 150px;	height: 60px; display: block;  margin-left: auto;	margin-right: auto; }
		.box-participar{	color: #33691e;		text-align: center;		font-size: 16px; font-family: 'Love Ya Like A Sister', cursive;}
		.box-participar:hover{ color: #e65100; border-bottom: 2px solid #e65100;}
		a { text-decoration: none;}

	/*------------------------------------------------------------*/

	/*----- BOX-HEADER  LEFT, CENTER RIGHT -------------------------------------------------------*/
	.box-header-left{   width: 22%; height: 620px; display: block; float: left; margin-left: 5px; }
	.box-header-center{ width: 51%; height: 620px; display: block; float: left; margin-left: 5px; }
	.box-header-right{  width: 22%; height: 620px; display: block; float: left; margin-left: 5px; }

/*--- LOGO E SETA -----*/

.box-logo{width: 110px;height: 120px; display: block; margin-top: 100px; border-radius: 50px; margin-left: auto;	margin-right: auto;	}
.box-logo img{ width: 110px;	height: 120px; }

	/*------------------------------------------------------------*/

}

/*--- Small tablet portrait ---*/
@media only screen and (min-width : 595px) and (max-width : 690px) {

		/*------- BOX BASE ---------------------------------------------------------------------------------*/

		.box-full-linha{	width: 100%;	height: 3px;	display: block;	}

		/*------------------------------------------------------------------------------------------------*/

		.box-full{	width: 100%;	height: auto;	display: block;	}
		.box-center{ width: 100%; height: auto; display: block;	margin-left: auto;	margin-right: auto; }


		/*------------ OUTROS ---------------------------------------------------------------------*/


		.box-center-menu {		display: none; }
		/*---- COLOR -----*/
		     .bc5{background-color: #fff;}

			.box-menu{ width: 50px;	height: 50px; margin-top: 5px;	display: block;	float: right; margin-right: 5px; border-radius: 5px; }
		  .box-menu img{ width: 40px;	height: 40px;}
			.box-menu:hover img{ width: 50px;	height: 50px;}

		/*--- BOTAO PARTICIPAR -----*/

		  .box-participar{width: 150px;	height: 60px; display: block;  margin-left: auto;	margin-right: auto; }
		  .box-participar{	color: #33691e;		text-align: center;		font-size: 16px; font-family: 'Love Ya Like A Sister', cursive;}
			.box-participar:hover{ color: #e65100; border-bottom: 2px solid #e65100;}
			a { text-decoration: none;}

		/*------------------------------------------------------------*/

		/*----- BOX-HEADER  LEFT, CENTER RIGHT -------------------------------------------------------*/
		.box-header-left{   width: 30%; height: 620px; display: block; float: left; margin-left: 15px; }
		.box-header-center{ width: 31%; height: 620px; display: block; float: left; margin-left: 15px;}
		.box-header-right{  width: 30%; height: 620px; display: block; float: left; margin-left: 15px; }

	/*--- LOGO E SETA -----*/

	.box-logo{width: 140px;height: 150px; display: block; margin-top: 100px; border-radius: 50px; margin-left: auto;	margin-right: auto;	}
	.box-logo img{ width: 140px;	height: 150px; }

		/*------------------------------------------------------------*/

}

/*--- Tablet portrait ---*/
@media only screen and (min-width : 690px) and (max-width : 800px) {

		/*------- BOX BASE ---------------------------------------------------------------------------------*/

		.box-full-linha{	width: 100%;	height: 3px;	display: block;	}

		/*------------------------------------------------------------------------------------------------*/

		.box-full{	width: 100%;	height: auto;	display: block;	}
		.box-center{ width: 100%; height: auto; display: block;	margin-left: auto;	margin-right: auto; }


		/*------------ OUTROS ---------------------------------------------------------------------*/

		/*---- COLOR -----*/
		     .bc5{background-color: #fff;}
		.box-center-menu {		display: none; }


			.box-menu{ width: 50px;	height: 50px; margin-top: 5px;	display: block;	float: right; margin-right: 5px; border-radius: 5px; }
		  .box-menu img{ width: 40px;	height: 40px;}
			.box-menu:hover img{ width: 50px;	height: 50px;}

		/*--- BOTAO PARTICIPAR -----*/

		  .box-participar{width: 150px;	height: 60px; display: block;  margin-left: auto;	margin-right: auto; }
		  .box-participar{	color: #33691e;		text-align: center;		font-size: 16px; font-family: 'Love Ya Like A Sister', cursive;}
			.box-participar:hover{ color: #e65100; border-bottom: 2px solid #e65100;}
			a { text-decoration: none;}

		/*------------------------------------------------------------*/

		/*----- BOX-HEADER  LEFT, CENTER RIGHT -------------------------------------------------------*/
		.box-header-left{   width: 30%; height: 620px; display: block; float: left; margin-left: 15px; background-color: red;}
		.box-header-center{ width: 32%; height: 620px; display: block; float: left; margin-left: 15px; background-color: red;}
		.box-header-right{  width: 30%; height: 620px; display: block; float: left; margin-left: 15px; background-color: red;}

	/*--- LOGO E SETA -----*/

	.box-logo{width: 180px;height: 190px; display: block; margin-top: 200px; border-radius: 50px; margin-left: auto;	margin-right: auto;	}
	.box-logo img{ width: 180px;	height: 190px; }

		/*------------------------------------------------------------*/


}



/*--- Small tablet landscape ---*/
@media only screen and (min-width : 800px) and (max-width : 1024px) {


	/*------- BOX BASE ---------------------------------------------------------------------------------*/

	.box-full-linha{	width: 100%;	height: 3px;	display: block;	}

	/*------------------------------------------------------------------------------------------------*/

	.box-full{	width: 100%;	height: auto;	display: block;	}
	.box-center{ width: 100%; height: auto; display: block;	margin-left: auto;	margin-right: auto; }


	/*------------ OUTROS ---------------------------------------------------------------------*/

	/*---- COLOR -----*/
	     .bc5{background-color: #fff;}
	.box-center-menu {		display: none; }


		.box-menu{ width: 50px;	height: 50px; margin-top: 5px;	display: block;	float: right; margin-right: 5px; border-radius: 5px; }
	  .box-menu img{ width: 40px;	height: 40px;}
		.box-menu:hover img{ width: 50px;	height: 50px;}

	/*--- BOTAO PARTICIPAR -----*/

	  .box-participar{width: 150px;	height: 60px; display: block;  margin-left: auto;	margin-right: auto; }
	  .box-participar{	color: #33691e;		text-align: center;		font-size: 16px; font-family: 'Love Ya Like A Sister', cursive;}
		.box-participar:hover{ color: #e65100; border-bottom: 2px solid #e65100;}
		a { text-decoration: none;}

	/*------------------------------------------------------------*/

	/*----- BOX-HEADER  LEFT, CENTER RIGHT -------------------------------------------------------*/
	.box-header-left{   width: 30%; height: 620px; display: block; float: left; margin-left: 15px; background-color: red;}
	.box-header-center{ width: 34%; height: 620px; display: block; float: left; margin-left: 15px; background-color: red;}
	.box-header-right{  width: 30%; height: 620px; display: block; float: left; margin-left: 15px; background-color: red;}

/*--- LOGO E SETA -----*/

.box-logo{width: 200px;height: 210px; display: block; margin-top: 200px; border-radius: 50px; margin-left: auto;	margin-right: auto;	}
.box-logo img{ width: 200px;	height: 210px; }

	/*------------------------------------------------------------*/

}

/*--- Tablet landscape --- */
@media only screen and (min-width : 1024px) and (max-width : 1200px) {

	/*------- BOX BASE ---------------------------------------------------------------------------------*/

	.box-full-linha{	width: 100%;	height: 3px;	display: block;	}

	/*------------------------------------------------------------------------------------------------*/

	.box-full{	width: 100%;	height: auto;	display: block;	}
	.box-center{ width: 1200px; height: auto; display: block;	margin-left: auto;	margin-right: auto; }


	/*------------ OUTROS ---------------------------------------------------------------------*/

	.box-center-menu{	width: 1024px;	height: 70px;	 display: block; margin-left: -10px;}

  .box-participar{		display: none; }

	/*---- COLOR -----*/
	     .bc5{background-color: #fff;}

    /*--- MENU BOTOES HORIZONTAL HEADER -------*/
		.mbox{width: 185px;	height: 60px;	display: block; box-sizing: border-box; float: left; padding: 5px; margin-left: 15px;  }
		.mbox{	color: #33691e;		text-align: center;		font-size: 16px; font-family: 'Love Ya Like A Sister', cursive;}
		.mbox:hover{ color: #e65100; border-bottom: 2px solid #e65100;}
		a { text-decoration: none;}
		/*------------------------------------------------------------*/

		/*----- BOX-HEADER  LEFT, CENTER RIGHT -------------------------------------------------------*/

	.box-header-left{   width: 30%; height: 620px; display: block; float: left; margin-left: 15px; background-color: red;}
	.box-header-center{ width:34%; height: 620px; display: block; float: left; margin-left: 15px; background-color: red;}
	.box-header-right{  width: 30%; height: 620px; display: block; float: left; margin-left: 15px; background-color: red;}

	/*--- LOGO E SETA -----*/

	.box-logo{width: 200px;height: 210px; display: block; margin-top: 200px; border-radius: 50px; margin-left: auto;	margin-right: auto;	}
	.box-logo img{ width: 200px;	height: 210px; }

		/*------------------------------------------------------------*/

}




/*========= MEDIA QUERY FIM ===========================================*/
