.lmi-body-bg{
	width: 100%;
	height: 100%;
	 background-image: url('../Imagens/bg4.jpg');
		background-repeat: no-repeat;
		background-color: #000000;
	background-position: center center;
	background-attachment: fixed;
	 background-size: cover; /*Css padrão*/
	-webkit-background-size: cover; /*Css safari e chrome*/
	-moz-background-size: cover; /*Css firefox*/
	-ms-background-size: cover; /*Css IE não use mer#^@%#*/
	-o-background-size: cover; /*Css Opera*/
	margin: 0in;
}

/*==========  Mobile First Method  ==========*/


/*========= MEDIA QUERY INICIO ===========================================*/


/*--- Mobile portrait ---*/
@media only screen and (min-width : 320px) and (max-width : 480px) {


/*======= HEADER =================================*/


	.lmi-linha-full{
		width: 100%;
		height: 3px;
		background-color:#e65100;

	}

	.lmi-header-full{
			width: 100%;
			height: 100px;
			display: block;


		}

		.lmi-header-center{
				width: 100%;
				height: 100px;
				display: block;
					margin-left: auto;
				 margin-right: auto;
			}

/*--------------------------------------------*/

	.lmi-header-center-leftbox{
		display: none;
	}

			.lmi-header-center-linha{
				width: 100%;
				height: 33px;
				margin-top: 0px;
				display: block;


			}


			/*--------- Opçoes do menu do header--------------------------*/

			.menu-options{
				width: 225px;
		    height: 52px;
	  	display: block;
		 	margin-left: auto;
		   margin-right: auto;
			 color: #fff;
				text-align: center;
				font-size: 16px;
			}


			.menu-a{
				width: 110px;
				height: 40px;
				display: block;
				float: left;
				background-color:#e65100;
				border-radius: 0px 0px 0px 20px;
			}

			.menu-b{
				width: 110px;
				height: 40px;
				display: block;
				float: left;
				margin-left: 2px;
				background-color:#e65100;
					border-radius: 0px 0px 20px 0px;
			}

.online{
	color: #e65100;
 	text-align: left;
margin-left: 20px;
 	font-size: 14px;
}


	.lmi-header-center-leftbox img{
		width: 80px;
		height: 80px;
		display: block;
		float: left;
		margin-left: 5px;
		margin-top: 5px;
		background-color:darkgreen;
		border-radius: 50px 50px 50px 50px;

	}
/*======= FIM DO HEADER =================================*/

/*======= INICIO DO BODY =================================*/

	.lmi-body-full{
		width: 100%;
		height: 400px;
		display: block;

	}

.lmi-body{
		width: 100%;
		height: 400px;
		display: block;
		box-sizing: border-box;
		padding: 15px;
		margin-left: auto;
		margin-right: auto;
	}
/*======= FIM DO BODY =======================*/

/*===== FORMULARIOS DO VIEW ========================*/


			.base-a{
				width: 100%;
				height: auto;
				display: block;
				float: left;
				box-sizing: border-box;
				padding: 10px 20px 40px 20px;
				margin-top: 5px;
				background-color:#aed581;
				border-radius: 6px;

			}


					 .lmi-btn-x{
						 width: 40px;
						 height: 40px;
						 display: block;
						 float: right;
						 	border: none;
						 margin-top: -15px;
						 background-color:#ef6c00;
					 }

					 .tcenter{	text-align: center;}
					 .mtop{margin-top: 15px;}
			     .termo-a{text-align: justify;}

						.lmi-form-linha{
							width: 100%;
							height: auto;
							display: block;
							float: right;
							margin-top: 10px;

						}

						.lmi-form-linha-img{
							width: 40px;
							height: 40px;
						  display: block;
							float: left;
							margin-left: 20px;
							background-color:#ef6c00;
						}

						.lmi-form-linha-input{
							width: 150px;
							height: 40px;
							margin-left: 5px;
							display: block;
							float: left;

						}

						.lmi-input{
							width: 140px;
							height: 40px;
							display: block;
							float: left;
							border: none;
							border-bottom: 1px solid #fff;
							padding: 10px 10px 10px 10px;
							color: #ef6c00;
							text-align: center;
							font-size: 18px;
				     background-color: #c8e6c9;

						}

						.lmi-btn-a{
							width: 140px;
							height: 40px;
							display: block;
											border: none;
							margin-left: auto;
						 margin-right: auto;
							color: #fff;
							text-align: center;
							font-size: 16px;
					    background-color:#ef6c00;
						}






/*===== FIM DOS FORMULARIOS ========================*/

}
/*--- Mobile landscape ---*/
@media only screen and (min-width : 480px) and (max-width : 595px) {
	/*======= HEADER =================================*/

	.lmi-linha-full{
		width: 100%;
		height: 3px;
		background-color:red;

	}

	.lmi-header-full{
			width: 100%;
			height: 100px;
			display: block;
			background-color:#fff;

		}

		.lmi-header-center{
				width: 100%;
				height: 100px;
				display: block;
					margin-left: auto;
				 margin-right: auto;
			}

	.lmi-header-center-leftbox{
		width: 100px;
		height: 100px;
		display: block;
		float: left;


	}

			.lmi-header-center-linha{
				width: 100%;
				height: 33px;
				margin-top: 0px;
				display: block;
				background-color: chartreuse;
			}


			/*--------- Opçoes do menu do header--------------------------*/

			.menu-options{
				width: 200px;
		    height: 52px;
	  	display: block;
		 	margin-left: auto;
		   margin-right: auto;
			}


			.menu-a{
				width: 99px;
				height: 30px;
				display: block;
				float: left;
				background-color:red;
				border-radius: 0px 0px 0px 20px;
			}

			.menu-b{
				width: 99px;
				height: 30px;
				display: block;
				float: left;
				margin-left: 2px;
				background-color:red;
					border-radius: 0px 0px 20px 0px;
			}

	/*--------- fim menu do header --------------------------------------------------*/

	.lmi-header-center-leftbox img{
		width: 90px;
		height: 90px;
		display: block;
		float: left;
		margin-left: 5px;
		margin-top: 5px;
		background-color:darkgreen;
		border-radius: 50px 50px 50px 50px;

	}




}

/*--- Small tablet portrait ---*/
@media only screen and (min-width : 595px) and (max-width : 690px) {




}

/*--- Tablet portrait ---*/
@media only screen and (min-width : 690px) and (max-width : 800px) {


}



/*--- Small tablet landscape ---*/
@media only screen and (min-width : 800px) and (max-width : 1024px) {



}

/*--- Tablet landscape --- */
@media only screen and (min-width : 1024px) and (max-width : 1200px) {



}

/*========= MEDIA QUERY FIM ===========================================*/
