div.box-login-base{
  width: 460px;
  height: 260px;
background-color: #F1F8E9;
  margin-left: auto;
  margin-right: auto;
}

.linha-a{ width: 100%;  display: block; float: left; height: auto; margin-top: 15px; }
.height60{height: 60px;}
.mtop100{margin-top: 100;}
.mleft100{margin-left: 100;}

.boxl{
  width: 160px;
  height: auto;
 margin-left: 60px;
 display: block;
 float: left;
background-color: #F1F8E9;
}

.boxh{
  width: 160px;
  height: auto;
 display: block;
 float: left;
 margin-left: 15px;
  box-sizing: border-box;
background-color:#ef6c00;
}

.btn-box-a{
  width: 160px;
  height: auto;
  background-color: #ef6c00;
 display: block;
 float: left;
 margin-left: 20px;
}

.button {
    background-color: #ef6c00; /* Green */
    border: none;
    color: white;
    padding: 10px 40px 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}


/*===== testes de ipanema ======*/

.container-a{
  width: 460px;
  height: auto;
  background-color: #F1F8E9;
  box-sizing: border-box;
  padding: 10px 40px 10px 40px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-b{
  width: 460px;
  height: auto;
  background-color: #F1F8E9;
  box-sizing: border-box;
  padding: 30px 60px 30px 60px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}


.container-c{
  width: 460px;
  height: auto;
  background-color: #F1F8E9;
  box-sizing: border-box;
  padding: 30px 80px 30px 80px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}


.container-a1{

}

/*=====================================*/

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


/*=====================================*/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*==========================================*/
#next {
    width: 43px;
    height: 44px;
    background: url(img_navsprites.gif) -91px 0;
}
