


/*-------------Barra--------------------------*/
div.barra-full{
  width: 100%;
  height: 60px;
  background-color: #C5E1A5;
}

/*------------barra-full-center------------------------*/
div.barra-full-center{
  width: 1024px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;

}

div.bx-1, .bx-2, .bx-3 {
  width:600px;  height: 40px; margin-top: 10px;margin-left: 5px;
  display: block;
  float: left;
  background-color: red;
}

div.bx-1,.bx-3 {  width:200px;}




div.modal-a{
  width: 100%;
  height: auto;
 position: absolute;
 background-color: rgba(0, 0, 0, 0.75);

}

div.modal-form{
  width: 450px;
  height: auto;
  margin-top: 20px;
  padding: 50px;
  margin-left: calc(50% - 225px);
  background-color: #F1F8E9;

}



/*======== Campo de Texto ===================*/

.campotexto{
  text-align: center;
  color: ccc;
}

/*-----------------------------------------*/

/*-------- body ----------------------------*/
div.body-container{
  width: 1024px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F1F8E9;
}


div.a-container{
  width: 96%;
  min-height:100%; height:auto;
  padding: 20px;
  background-color: #F1F8E9;
}

/*------------------------------------*/
