
/*==== TRES BASES DO LAYOUT =======*/

/*--header, linha, menu */

.lmi-head{
  width: 100%;
  height: 300px;
background-color:#ef6c00;
display: block;
float: left;
}

/*--linha--*/
.lmi-header-full-linha{
  width: 100%;
  height: 5px;
  background-color: #2e7d32;
}

/*--linha menu --*/
.lmi-header-center-linha-menu{
  width: 100%;
  height: 50px;
  display: block;
  float: left;
    box-sizing: border-box;

}

/*conteudos do menu e seus botoes*/
.menu-seach{
  width: 300px;
  height: 40px;

margin-top: 0px;
display: block;
float: right;
margin-right: 10px;
}

.menu-myadv{
  width: 160px;
  height: 40px;

margin-top: 0px;
display: block;
float: right;
margin-right: 10px;
color: white;
text-align: center;
font-size: 16px;
}


.menu-sair{
  width: 100px;
  height: 40px;
margin-top: 0px;
display: block;
float: right;
border-radius: 0px 0px 0px 20px;
  box-sizing: border-box;
  background-color:#2e7d32;
  color: white;
-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
text-align: center;

border: none;
    font-size: 16px;
}

.menu-sair:hover {
  background-color:#2e7d32;
  font-size: 14px;
    border-radius: 0px 0px 0px 40px;
}



/*---- Area de Avisos e propaganda do adventure*/

.lmi-head-prop{
  width: 100%;
  height: 30px;
  border: 1px solid #ffeb3b;
  margin-top: -35px;
  display: block;
  float: left;
  color: white;
  text-align: center;
  font-size: 16px;
}

.lmi-body{
  width: 100%;
  height: auto;

margin-top: 0px;
display: block;
float: left;
}

.lmi-footer{
  width: 100%;
  height: 60px;
background-color:#ef6c00;
margin-top: 90px;
display: block;
float: left;
}

/*========= BASES CENTRAIS ===========================*/

.lmi-head-center{
  width: 1024px;
  height: 300px;
margin-left: auto;
margin-right: auto;
}
.lmi-body-center{
  width: 1024px;
  height: auto;

margin-left: auto;
margin-right: auto;
}
.lmi-footer-center{
  width: 1024px;
  height: 60px;
background-color:#ef6c00;
margin-left: auto;
margin-right: auto;
}

/*--------- Body LEFT, CENTER, RIGHT ----------*/

.lmi-body-center-left{
  width: 200px;
  height: 600px;
margin-top: 15px;
display: block;
float: left;
border: 1px solid #ffeb3b;
}

.lmi-body-center-center{
  width: 594px;
  height: auto;

display: block;
float: left;
margin-left: 15px;
border: 1px solid #ffeb3b;
}

.lmi-body-center-right{
  width: 200px;
  height: 600px;
border: 1px solid #ffeb3b;
display: block;
float: left;
margin-left: 10px;
margin-top: 15px;
}

/*========= HEADER - USER -CENTER ========================================*/

.lmi-head-center-user{
  width: 200px;
  height: 300px;
border: 1px solid  #ff5722;
display: block;
float: left;
margin-left: 0px;
}

.lmi-head-center-user-img{
  width: 200px;
  height: 200px;
background-color:#fff;
display: block;
float: left;
margin-top: 0px;
 border-radius: 0px 50px 0px 50px;
}







/*======== BASE CONTAINERS CENTER =========================================*/

.container-a{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 30px 40px 30px 40px;
  margin-top: 15px;
  border: 1px solid #e65100;
border-radius: 5px;
}
